MAKING CHANGES

In [1]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/bechdel/movies.csv")
print(data)

      year       imdb                                    title  \
0     2013  tt1711425                            21 &amp; Over
1     2012  tt1343727                                 Dredd 3D
2     2013  tt2024544                         12 Years a Slave
3     2013  tt1272878                                   2 Guns
4     2013  tt0453562                                       42
...    ...        ...                                      ...
1789  1971  tt0067741                                    Shaft
1790  1971  tt0067800                               Straw Dogs
1791  1971  tt0067116                    The French Connection
1792  1971  tt0067992  Willy Wonka &amp; the Chocolate Factory
1793  1970  tt0065466           Beyond the Valley of the Dolls

                 test clean_test binary    budget    domgross     intgross  \
0              notalk     notalk   FAIL  13000000  25682380.0   42195766.0
1         ok-disagree         ok   PASS  45000000  13414714.0   40868994.0
2     notalk-disagree     notalk   FAIL  20000000  53107035.0  158607035.0
3              notalk     notalk   FAIL  61000000  75612460.0  132493015.0
4                 men        men   FAIL  40000000  95020213.0   95020213.0
...               ...        ...    ...       ...         ...          ...
1789           notalk     notalk   FAIL  53012938  70327868.0  107190108.0
1790           notalk     notalk   FAIL  25000000  10324441.0   11253821.0
1791           notalk     notalk   FAIL   2200000  41158757.0   41158757.0
1792     men-disagree        men   FAIL   3000000   4000000.0    4000000.0
1793               ok         ok   PASS   1000000   9000000.0    9000000.0

          code  budget_2013$  domgross_2013$  intgross_2013$  period code  \
0     2013FAIL      13000000      25682380.0      42195766.0          1.0
1     2012PASS      45658735      13611086.0      41467257.0          1.0
2     2013FAIL      20000000      53107035.0     158607035.0          1.0
3     2013FAIL      61000000      75612460.0     132493015.0          1.0
4     2013FAIL      40000000      95020213.0      95020213.0          1.0
...        ...           ...             ...             ...          ...
1789  1971FAIL     305063707     404702718.0     616827003.0          NaN
1790  1971FAIL     143862856      59412143.0      64760273.0          NaN
1791  1971FAIL      12659931     236848653.0     236848653.0          NaN
1792  1971FAIL      17263543      23018057.0      23018057.0          NaN
1793  1970PASS       5997631      53978683.0      53978683.0          NaN

      decade code
0             1.0
1             1.0
2             1.0
3             1.0
4             1.0
...           ...
1789          NaN
1790          NaN
1791          NaN
1792          NaN
1793          NaN

[1794 rows x 15 columns]

In [3]:
select_columns = data[['year', 'imdb', 'title', 'clean_test', 'binary', 'budget_2013$', 'domgross_2013$', 'intgross_2013$']]

In [4]:
select_columns.head()

,year,imdb,title,clean_test,binary,budget_2013$,domgross_2013$,intgross_2013$
0,2013,tt1711425,21 &amp; Over,notalk,FAIL,13000000,25682380.0,42195766.0
1,2012,tt1343727,Dredd 3D,ok,PASS,45658735,13611086.0,41467257.0
2,2013,tt2024544,12 Years a Slave,notalk,FAIL,20000000,53107035.0,158607035.0
3,2013,tt1272878,2 Guns,notalk,FAIL,61000000,75612460.0,132493015.0
4,2013,tt0453562,42,men,FAIL,40000000,95020213.0,95020213.0

In [5]:
select_columns.corr()

                    year  budget_2013$  domgross_2013$  intgross_2013$
year            1.000000      0.077695       -0.286437       -0.135760
budget_2013$    0.077695      1.000000        0.461261        0.594019
domgross_2013$ -0.286437      0.461261        1.000000        0.927652
intgross_2013$ -0.135760      0.594019        0.927652        1.000000